DATABASE_URL=postgresql://mrq_user:CHANGE_ME@localhost:5432/mrquentinha
FIELD_ENCRYPTION_KEY=CHANGE_ME_BASE64_URLSAFE_32B
FIELD_ENCRYPTION_STRICT=false
FIELD_HASH_SALT=CHANGE_ME_LONG_RANDOM
DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True
SECRET_KEY=django-insecure-dev-only-change-me
ALLOWED_HOSTS=localhost,127.0.0.1,10.211.55.21
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000,http://127.0.0.1:3001,http://10.211.55.21:3000,http://10.211.55.21:3001
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000,http://127.0.0.1:3001,http://10.211.55.21:3000,http://10.211.55.21:3001
PAYMENTS_WEBHOOK_THROTTLE_RATE=120/min
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@mrquentinha.local
PROCUREMENT_ALERT_FROM_EMAIL=compras@mrquentinha.local
PROCUREMENT_WHATSAPP_WEBHOOK_URL=
PROCUREMENT_WHATSAPP_WEBHOOK_TOKEN=
ACCOUNTS_EMAIL_VERIFICATION_TOKEN_TTL_HOURS=3
CORREIOS_CEP_ENABLED=True
CORREIOS_CEP_BEARER_TOKEN=
CORREIOS_TOKEN_USERNAME=
CORREIOS_TOKEN_PASSWORD=
CORREIOS_TOKEN_CONTRACT=
CORREIOS_TOKEN_DR=
CORREIOS_TOKEN_ENDPOINT=https://api.correios.com.br/token/v1/autentica/contrato
CORREIOS_CEP_API_BASE_URL=https://api.correios.com.br
CORREIOS_CEP_ENDPOINT_PATHS=/cp/v2/enderecos,/cep/v2/enderecos
CORREIOS_CEP_ALLOW_VIACEP_FALLBACK=True
CORREIOS_CEP_REQUEST_TIMEOUT_SECONDS=8
